body {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", Verdana, Tahoma;
    color: #555;
}

.container {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
}


.io {
    width: 260px;
    float: left;
    margin: 20px;

}

.clearfix {
    clear: both;
    content: " ";
}

#input {
    resize: none;
    height: 400px;
    outline: none;
    border-radius: 2px;
    border-color: #ccc;
    border-style: dashed;
    border-width: 1px;
    padding: 5px;
    font-size: 1em;
    font-family: "Inconsolata", Verdana, Tahoma;

}

.fade {
    color: #eee;
}

th {
    padding: 0 5px;
}

table tbody td:first-child {
    text-align: right;
    padding-right: 5px;
}


